.socials{
text-align:right;
width:100px;
display:inline;

}
socials a {
	text-decoration:none;
}
.fa-facebook-official{
	color:white;
	// background-color:#fff;
}
.fa-linkedin-square{
	color:white;
	// background-color:#fff;

}
.fa-twitter-square{
	color:white;
	// background-color:#fff;

}
.fa-pinterest-square{
	color:white;
	// background-color:#fff;

}
.fa-dribbble{
	color:white;
	// background-color:#fff;

}
.fa-google-plus-square{
	color:white;
	// background-color:#fff;

}