.albumImage{
	width: 100%;
	margin-bottom:10px;

}

.albumImage img{
	display:block;
	margin:auto;
}

.wrapper{
	width:100%;
	overflow: auto;
}

.list{
	white-space: nowrap;
	margin: 0px;
}
.list img {
width: 300px;
height: auto;
}
.list li {
display: inline;
list-style-type:none;
padding-right:2px;
padding-left:2px;
cursor:pointer;
}