
    <!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->
    <header class="business-header">
          <div ng-controller="sliderContoller" id="slides_control">

 <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
      <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <!-- <h4>Slide {{slide.id}}</h4> -->
          <p>{{slide.text}}</p>
        </div>
      </div>
    </div>

    </header>


    <!-- Page Content -->
    <div class="container">

        <hr>

        <div class="row">
            <div class="col-sm-8">
                <h2>У Нас Вы можете заказать:</h2>
                <p>Introduce the visitor to the business using clear, informative text. Use well-targeted keywords within your sentences to make sure search engines can find the business.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et molestiae similique eligendi reiciendis sunt distinctio odit? Quia, neque, ipsa, adipisci quisquam ullam deserunt accusantium illo iste exercitationem nemo voluptates asperiores.</p>
                <p>
                    <a class="btn btn-default btn-lg" ng-click="showModal()">Сделать заказ &raquo;</a>
                </p>
            </div>
            <div class="col-sm-4">
                <h2>Свяжитесь с Нами</h2>
                <address>
                    <strong>г. Винница</strong>
                    <br>ул.Соборная
                    <br>торговый центр Sky Park
 
                    <br>
                </address>
                <address>
                    <abbr title="Phone">P:</abbr>(123) 456-7890
                    <br>
                    <abbr title="Email">E:</abbr> <a href="mailto:#">name@example.com</a>
                </address>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <div class="row">
        <h3>Что Вы получите сотрудничая с Нами:</h3>
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="http://lorempixel.com/300/300/" alt="">
                <h2>Быстрая связь с менеджером</h2>
                <p>These marketing boxes are a great place to put some information. These can contain summaries of what the company does, promotional information, or anything else that is relevant to the company. These will usually be below-the-fold.</p>
            </div>
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="http://lorempixel.com/300/300/nature" alt="">
                <h2>Несколько макетов на выбор</h2>
                <p>The images are set to be circular and responsive. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
            </div>
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="http://lorempixel.com/300/300/people" alt="">
                <h2>Выполненый заказ</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-6" style="font-size: 20px">
                    <p>Copyright &copy; Maestro de legno 2017</p>
                </div>
                <div class="col-lg-6" style="text-align: center">
                    <div class="socials">
                    <a href="https://www.facebook.com/" <i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/" <i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/?lang=ru" <i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i></a>
                    <a href="https://plus.google.com/" <i class="fa fa-google-plus-square fa-3x" aria-hidden="true"></i></a>
                        </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->